.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px #89375F;
  padding: 10px;
  color: #89375F;

  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke:#CE5959 ;
  }
}
